:root {
  --primary-color: #C03124;
  --secondary-color: #007bff;
  --background-color: #f9f9f9;
  --text-color: #333;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transition: transform 0.3s, box-shadow 0.3s;
}

.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.about-us-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.about-us-container h3 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--secondary-color);
  text-align: center;
}

.about-us-container p {
  font-size: 1.2em;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

.section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  border-left: 5px solid var(--primary-color);
}

.mission-vision .mission, .mission-vision .vision {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border-left: 5px solid var(--primary-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: var(--border-radius);
  transition: var(--transition);
  border-top: 5px solid var(--primary-color);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h3, .card p {
  margin: 10px 0;
}

.press-releases ul {
  list-style-type: none;
  padding: 0;
}

.press-releases li {
  margin-bottom: 10px;
}

.press-releases a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

.press-releases a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 100%;
  }

  .about-us-container h2, .about-us-container h3 {
    font-size: 1.5em;
  }

  .about-us-container p {
    font-size: 1em;
  }
}