header {
  background-color: #f8f9fa;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  min-height: calc(100vh - 100px);
  padding: 2rem 0;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem 0;
}
.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

app-loading-indicator {
  animation: spin 1s linear infinite; /* Spin for 1 second */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}